<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="user" type="com.cominfo.server.pojo.User"/>
        <typeAlias alias="member" type="com.cominfo.server.pojo.Member"/>
        <typeAlias alias="prize" type="com.cominfo.server.pojo.Prize"/>
        <typeAlias alias="race" type="com.cominfo.server.pojo.Race"/>
        <typeAlias alias="role" type="com.cominfo.server.pojo.Role"/>
        <typeAlias alias="school" type="com.cominfo.server.pojo.School"/>
        <typeAlias alias="task" type="com.cominfo.server.pojo.Task"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/com_info?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="yhyh1001"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>