<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cominfo.server.mapper.UserMapper">

    <select id="getUserByStuNo" resultMap="selectUser" parameterType="String">
        select
               id, stuNo, account, password, name, school, gender
        from t_user
        where stuNo = #{stuNo}
    </select>

    <select id="getUserSchoolmates" resultType="java.lang.String">
        select account
        from t_user
        where school = #{school}
    </select>

    <!--    <select id="getUserByPassword" resultMap="selectUser" parameterType="com.cominfo.server.pojo.ReqUserLogin">-->
<!--        select-->
<!--               id, account, password, name, school, gender, permission-->
<!--        from t_user-->
<!--        where password = #{user.password} and id = #{user.id}-->
<!--    </select>-->

    <insert id="addOne" parameterType="com.cominfo.server.pojo.ReqUserRegister">
        insert into t_user(stuNo, password)
        values (#{user.stuNo}, #{user.password})
    </insert>

    <update id="updateUserName" parameterType="user">
        update t_user set name = #{user.name} where stuNo = #{user.stuNo}
    </update>

    <update id="updateUserGender" parameterType="user">
        update t_user set gender = #{user.gender} where stuNo = #{user.stuNo};
    </update>

    <update id="updateUserAccount" parameterType="user">
        update t_user set account = #{user.account} where stuNo = #{user.stuNo};
    </update>

    <update id="updateUserPassword" parameterType="user">
        update t_user set password = #{user.password} where stuNo = #{user.stuNo};
    </update>

    <update id="updateUserSchool" parameterType="user">
        update t_user set school = #{user.school} where stuNo = #{user.stuNo};
    </update>
    <resultMap id="selectUser" type="user">
        <id property="id" column="id"/>
        <result property="stuNo" column="stuNo"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="school" column="school"/>
        <result property="gender" column="gender"/>

    </resultMap>
</mapper>